# Ignore data files and directories
*.tif
*.img
*.pth
*.lyr
*vat.cpg
*vat.dbf
*.aux.xml
*.img.xml
*.zip
*.rar
*log_*
*.log
*.typed
*.db
*.pdf

# Ignore specific directories
*_bkup/
*-bank/
configs/
data/*/
data/dev
logs/*
lightning_logs/*
experiments/*
optuna_logs/*
# Ignore Python compiled files
*.pyc
*.pyo
__pycache__/
*.egg-info/

# Ignore virtual environment files
env/
.env
.venv/ 

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE files
.vscode/
.devcontainer/

# docs
docs/_build